; ======== Software configurations ========

; Actually I need to understand how to integrate into Windows/Linux/Unix Environment the this.getApplication().
MINT_APIKEY="xxxxxxxx"

; Software has 2 modalities:
;	- library: Graphical interface for desktop usage.
;	- server: HTTP REST APIs for server usage, requires an external compatible client. -> NOT SUPPORTED.
MODE=library

; Where the reports have to be written.
; Be sure the folder exists.
REPORT_OUTPUT_FOLDER=C:\Aarhus University\Reports
GRAPH_OUTPUT_FOLDER=C:\Aarhus University\Graphics

; =========================================

; ======== Round configurations ========

NUMBER_OF_CHANCES_AN_AGENT_HAS_TO_TRY_TO_FIND_A_PROBLEM=3

NUMBER_OF_TRIALS_FOR_SINGLE_AGENT_SOLVING=3

NUMBER_OF_CHANCES_A_GROUP_HAS_TO_TRY_TO_FIND_A_PROBLEM=3

MORTALITY_RATE=0

; ======================================

; ======== Challenge configurations ========

ENABLE_PROBLEM_MUTATION=true

PROBLEM_MUTATION_SIGN=+/-

PROBLEM_MUTATION_RATE=2

PROBLEM_DEADLINE=1.0

PROBLEM_EASYREJECTOR=false

PROBLEM_MINIMAL_DIFFERENCE=1

; Do you want to enable max idled for a challenge?
ENABLE_MAX_IDLED_ROUNDS_CHALLENGE=true

; Maximum amount of rounds a challenge can be unsolved.
MAX_CHALLENGE_IDLE_ROUNDS=5

; ======================================

; ======== Solver Agent configurations ========

; Skills used by the agents, can be customized (added, removed, etc...).
AGENT_SKILLS=chemistry,biology,mathematics,physics,medicine,economics,language,management,business,it

; How many skills can be randomized grade before setting default value.
MAX_RANDOMIZED_SKILLS=4

; Default set of skill grade for initialized skills for each Agent.
; WARNING: REMOVED!
;DEFAULT_SKILL_GRADE=1

; Maximum randomized grade for a skill.
; WARNING: The grade MUST be coherent with GRADE_TABLE.
; WARNING: REMOVED!
;MAX_RANDOMIZED_GRADE=3

; Minimum experience.
MIN_EXPERIENCE=0

; Maximum randomized experience for each skill.
MAX_RANDOMIZED_EXPERIENCE=200

; Minimum experience achieved after problem resolving.
MIN_REWARD=1

; Maximum experience achieved after problem resolving.
MAX_REWARD=200

MAX_TRIALS_BEFORE_KICKOUT=3

SA_MINIMAL_COMPETENCY_EXPERIENCE=2

REMOVAL_SOLVER_TRESHOLD=5

; -- Cloning rates --

; Enable mutation rate (boolean).
ENABLE_MUTATION_RATE=true

; Value of the rate
MUTATION_RATE_VALUE=5

; Mutation rate sign:
;	- +/-
;	- +
;	- -
MUTATION_RATE_SIGN=+/-

; =============================================

; ======== Proposer Agent configurations ======== 

; Maximum of randomized requirements experience for the challenge.
MAX_RANDOMIZED_DIFFICULTYMAP=2

; Max amount of exp for each skill inside a challenge.
REQUIREMENT_MAXIMUM_RANDOM_EXPERIENCE=50

; How many times try to generate.
SA_EXPONENTIAL_GENERATION_CHANCE=2

; How many times try to generate a PAgent.
PA_EXPONENTIAL_GENERATION_CHANCE=2

; Chance it actually gets generated.
; Rolled Dice (1-100) >= This
SA_CHANCE_OF_GENERATION=66

PA_CHANCE_OF_GENERATION=66

; Enable max clonations for sagent.
SA_ENABLE_MAX_CLONATION=false

; Maximum times a single SolverAgent can be cloned in the whole game.
SA_MAX_CLONATIONS=5

; Enable mutation rate (boolean).
PA_ENABLE_MUTATION_RATE=true

; Value of the rate
PA_MUTATION_RATE_VALUE=2

; Mutation rate sign:
;	- +/-
;	- +
;	- -
PA_MUTATION_RATE_SIGN=+/-

; ===============================================

; ======== General configurations ======== 

MAX_IDLED_ROUNDS=3

; How many rounds do we have.
MAX_ROUNDS=100

; Deadline limit in minutes.
DEADLINE=1.0

; How many proposer agents do we have?
PROPOSER_AGENTS_AMOUNT=85

; How many solver agents do we have?
SOLVER_AGENTS_AMOUNT=100

; How many trials an agent perform before surrending.
AGENT_TRIALS_PER_ROUND=3

; "Game" Type selected, existing are:
;	- random: SAgent picks a random problem and try to solve it.
;	- sorted: SAgent picks a problem by a sorted list.
;	- skill_based: SAgent picks a problem from a list based on his skills.
GAME_TYPE=sorted

; Grade table, every time a SAgent hits maximum value the grade gets upgraded by 1.
; Each entry is the maximum exp for each grade, first entry is level 2.
; Example: GRADE_TABLE=10,100,300,600,900,1200,1700
;                       ^ Level 2
;                           ^ Level 3
;                              ^ Level 4 {...}
; WARNING: REMOVED!
;GRADE_TABLE=10,100,300,600,900,1200,1700

; ========================================
